<div
  class="container-md d-flex"
  *ngIf="this.contactsService.contacts$ | async as contacts"
>
  <div
    *ngFor="let contact of contacts | filter: this.term; index as id"
    class="card shadow-sm h6-3 mb-5 bg-body rounded"
    style="width: 20rem"
  >
    <div class="head">
      <div class="buttons float-end mt-2">
        <div class="btn btn-danger m-2" (click)="deleteContact(contact.id)">
          <i class="fas fa-user-times"></i>
        </div>

        <div class="btn btn-warning m-2" (click)="editContact(contact)">
          <i class="fas fa-user-edit"></i>
        </div>
      </div>
    </div>
    <img src="../../assets//icons/man.svg" class="card-img-top img" alt="..." />
    <div class="card-body">
      <h4 class="card-title text-center">{{ contact.fullName }}</h4>
      <h6 class="card-text fs-6">
        <h5 class="fw-bold">Email:</h5>
        <h6 class="m-auto">{{ contact.email }}</h6>
      </h6>
      <h6 class="card-text d-flex text-centered">
        <h5 class="fw-bold">age:</h5>
        <h6 class="mt-auto ml-2">{{ contact.age }}</h6>
      </h6>
      <h6 class="card-text"><h5 class="fw-bold">address:</h5></h6>
      <div class="address">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Address</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let address of contact.address; index as index">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ address }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
