<div class="card">
  <div class="card-header">Chat</div>
  <div class="card-body height3 table-wrapper-scroll-y my-custom-scrollbar" *ngIf="chat.Messages$ | async as messages" >
    <ul class="chat-list">
      <div *ngFor="let message of messages">
        <div
          *ngIf="
            message.uid == auth.user.uid;
            then myMessage;
            else otherMessage
          "
        ></div>

        <ng-template #myMessage>
          <li class="in">
            <div class="chat-img">
              <img alt="Avtar" [src]="auth.user.photoURL" />
            </div>
            <div  >
              <div
                class="chat-body"
                (click)="currentThing = message"
                
              >
                <div class="chat-message"  [ngClass]="{'messageOptions': currentThing === message}"  >
                  <div *ngIf="currentThing === message">
                    <div class="btn btn-danger" (click)="deleteMessage(message)"><i class="fa fa-trash"></i></div>
                  </div>
                  <div *ngIf="currentThing !== message">
                  <h5>{{ auth.user.displayName }}</h5>
                  <p>{{  message.text? message.text:'has borrado este mensaje' }}</p>
                </div>
                </div>
              </div>
            </div>
          </li>
        </ng-template>

        <ng-template #otherMessage>
          <li class="out">
            <div class="chat-img">
              <img alt="Avtar" [src]="this.getUserData(message.uid).photoURL" />
            </div>
            <div class="chat-body">
              <div class="chat-message">
                <h5>{{ this.getUserData(message.uid).displayName }}</h5>
                <p>{{ message.text? message.text:'el mensaje fue borrado' }}</p>
              </div>
            </div>
          </li>
        </ng-template>
      </div>
    </ul>
  </div>
  <div class="card-footer float-right">
    <div class="float-right">
      <input type="text" name="messageText" [(ngModel)]="messageText" />
      <div class="btn btn-primary m-1" (click)="sendMessage()" (keyup.enter)="sendMessage()">
        <i class="fa fa-send"></i>
        enviar
      </div>
    </div>
  </div>
</div>
