.img {
  margin: 0;
  height: 50px;
}

.profileImg {
  height: 70px;
  width: 70px;
}
.add {
  background: #a1c181;
}

.profileInfo {
  height: 70px;
}

.logOut {
  height: 30px;
  font-size: 15px;
  justify-content: center;
}
